body {
 background-color: black;
}
h1 {
 color: goldenrod;
}
p {
 color: darkgoldenrod;
}
#links {
 color:goldenrod
}
head {
  color: goldenrod;
}
ol {
  color: darkgoldenrod;
}
label {
  color: darkgoldenrod;
}

h2 {
  color: goldenrod;
}
